body {
  margin: 0;
  background-color: rgb(234, 237, 237);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  line-height: 20px;
  font-family: "Inria Sans", sans-serif;
}
